.App {
  font-family: sans-serif;
  justify-content: center;
  text-align: center;
}
.question {
  margin: 20px auto;
  width: 60%;
  border: 1px solid black;
  padding: 15px;
  border-radius: 5px;
}
.question h2 {
  margin-top: 10px;
}
.options {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}
.options button {
  padding: 10px;
  min-width: fit-content;
  width: 100%;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
button:hover {
  background-color: rgb(177, 173, 173);
}
.results {
  margin: 20px auto;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.results ul {
  list-style: none;
  padding: 0;
}

.results span {
  color: red;
  font-weight: 800;
  text-decoration: underline;
  cursor: pointer;
}

.results li {
  margin-bottom: 10px;
}

.results li[data-correct="true"] {
  color: green;
}

.results li[data-correct="false"] {
  color: red;
}
